<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Hellomaven</display-name>
    <servlet>
        <servlet-name>ConsultaMovimientos</servlet-name>
        <servlet-class>pe.edu.upc.dw.controller.ConsultaMovimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaIngresoSalida</servlet-name>
        <servlet-class>pe.edu.upc.dw.controller.ConsultaIngresoSalida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCliente</servlet-name>
        <servlet-class>pe.edu.upc.dw.controller.LoginCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaSaldos</servlet-name>
        <servlet-class>pe.edu.upc.dw.controller.ConsultaSaldos</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RegistroPark</servlet-name>
        <servlet-class>pe.edu.upc.dw.controller.RegistroPark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalidaPark</servlet-name>
        <servlet-class>pe.edu.upc.dw.controller.SalidaPark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarAlquiler</servlet-name>
        <servlet-class>pe.edu.upc.dw.controller.BuscarAlquiler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroCliente</servlet-name>
        <servlet-class>pe.edu.upc.dw.controller.RegistroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUsuario</servlet-name>
        <servlet-class>pe.edu.upc.dw.controller.LoginUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecargaTarjeta</servlet-name>
        <servlet-class>pe.edu.upc.dw.controller.RecargaTarjeta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultaMovimientos</servlet-name>
        <url-pattern>/ConsultaMovimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaIngresoSalida</servlet-name>
        <url-pattern>/ConsultaIngresoSalida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCliente</servlet-name>
        <url-pattern>/LoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaSaldos</servlet-name>
        <url-pattern>/ConsultaSaldos</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>RegistroPark</servlet-name>
        <url-pattern>/RegistroPark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalidaPark</servlet-name>
        <url-pattern>/SalidaPark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarAlquiler</servlet-name>
        <url-pattern>/BuscarAlquiler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroCliente</servlet-name>
        <url-pattern>/RegistroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUsuario</servlet-name>
        <url-pattern>/LoginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecargaTarjeta</servlet-name>
        <url-pattern>/RecargaTarjeta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
